h1{
font-family: garamond;
font-size: 100px;
text-align: center;

  position: absolute;
    left: 400px;
    top: 180px;
}

h2{ 
 font-family: garamond;
font-size: 100px;
text-align: left;   
 text-align: justify;
 position: absolute;
    left: 100px;
    top: 100px;   
    
}



h3{
  font-family: garamond;
font-size: 80px;
text-align: left;   
 
 position: absolute;
    left: 400px;
    top: 400px;   
}



h4{
  font-family: garamond;
font-size: 60px;
text-align: left;   
 
 position: absolute;
    left: 800px;
    top: 800px;   
}



h5{
  font-family: garamond;
font-size: 40px;
text-align: left;   
 
 position: absolute;
    left: 1200px;
    top: 1200px;   
}



h6{
  font-family: garamond;
font-size: 30px;
text-align: left;   
 
 position: absolute;
    left: 1400px;
    top: 1400px;   
}






h7{
  font-family: garamond;
font-size: 20px;
text-align: left;   
 
 position: absolute;
    left: 1500px;
    top: 1500px;   
}






a:link    {
    color:black; 
    background-color:transparent; 
    text-decoration:none;
    
}

a:visited {color:black; background-color:transparent; text-decoration:none}
a:hover   {color:grey; background-color:transparent; text-decoration:none}
a:active  {color:black; background-color:transparent; text-decoration:underline}

 
 
 
/*makes image cover background on all pages */
html { 
  background: url(../project1/test.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* The below is used to center a div vertically and horizontally */
.centered-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  

}


.rotate1 {
    
/* Safari */
-webkit-transform: rotate(4deg);
/* Firefox */
-moz-transform: rotate(4deg);
/* IE */
-ms-transform: rotate(4deg);
/* Opera */
-o-transform: rotate(4deg);
}
.rotate2 {
    
/* Safari */
-webkit-transform: rotate(5deg);
/* Firefox */
-moz-transform: rotate(5deg);
/* IE */
-ms-transform: rotate(5deg);
/* Opera */
-o-transform: rotate(5deg);
}
.rotate3 {
    
/* Safari */
-webkit-transform: rotate(5deg);
/* Firefox */
-moz-transform: rotate(5deg);
/* IE */
-ms-transform: rotate(5deg);
/* Opera */
-o-transform: rotate(5deg);
}
.rotate4 {
    
/* Safari */
-webkit-transform: rotate(5deg);
/* Firefox */
-moz-transform: rotate(5deg);
/* IE */
-ms-transform: rotate(5deg);
/* Opera */
-o-transform: rotate(5deg);
}
.rotate5 {
    
/* Safari */
-webkit-transform: rotate(5deg);
/* Firefox */
-moz-transform: rotate(5deg);
/* IE */
-ms-transform: rotate(5deg);
/* Opera */
-o-transform: rotate(5deg);
}
.rotate6 {
    
/* Safari */
-webkit-transform: rotate(5deg);
/* Firefox */
-moz-transform: rotate(5deg);
/* IE */
-ms-transform: rotate(5deg);
/* Opera */
-o-transform: rotate(5deg);
}