/*core lab */
h3{
font-family: helvetica;
font-size: 200px;
color: black;  

position: absolute;
    left: 10px;
    top: 300px;  
  
}



/* projects*/
h1 {
    text-align: center;
    font-family:helvetica;  
    font-size: 40px;
    color:black;
  
  position: absolute;
    left: 100px;
    top: 200px;
}
/*assignments */
h2 { 
  text-align: center;
    font-family:helvetica;  
    font-size: 40px;
    color:black;

    position: absolute;
    left: 100px;
    top: 150px;
}
/*reading */
h4 {
  text-align: center;
    font-family:helvetica;  
    font-size: 40px;
    color:black;

  position: absolute;
    left: 400px;
    top: 130px;
}
/*sketches */
h5 {
  text-align: center;
    font-family:helvetica;  
    font-size: 40px;
    color:black;

  position: absolute;
    left: 400px;
    top: 160px;
  
}
 /*project page title*/
 h6 {
 text-align: center;
    font-family:helvetica;  
    font-size: 150px;
    color:black;

  position: absolute;
    left: 0px;
    top: 0px;
 }
/*project numbers123*/
h7 {
 text-align: center;
    font-family:helvetica;  
    font-size: 100px;
    color:black;

  position: absolute;
    left: 0px;
    top: 600px;
 }

h8 {
 text-align: center;
    font-family:helvetica;  
    font-size: 100px;
    color:black;

  position: absolute;
    left: 230px;
    top: 600px;
 }
h9 {
 text-align: center;
    font-family:helvetica;  
    font-size: 100px;
    color:black;

  position: absolute;
    left: 460px;
    top: 600px;
 }


p1 {
 text-align: center;
    font-family:helvetica;  
    font-size: 20px;
    color:black;

  position: absolute;
    left: 100px;
    top: 200px;
 }
p3 {
 text-align: center;
    font-family:helvetica;  
    font-size: 20px;
    color:black;

  position: absolute;
    left: 1200px;
    top: 200px;
 }
p2 {
 text-align: center;
    font-family:helvetica;  
    font-size: 20px;
    color:black;

  position: absolute;
    left: 550px;
    top: 200px;
 }




a:link    {
    color:black; 
    background-color:transparent; 
    text-decoration:none;
    
}

a:visited {color:black; background-color:transparent; text-decoration:none}
a:hover   {color:black; background-color:transparent; text-decoration:none}
a:active  {color:black; background-color:transparent; text-decoration:none}

 




html { 
  background: url(../img/cmyk.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* The below is used to center a div vertically and horizontally */
.centered-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
