/*core lab */
h1{
font-size: 180px;
color: black;  
position:absolute;
top:250px;
left:-400px;
-webkit-transform: rotate(90deg);
/* Firefox */
-moz-transform: rotate(90deg);
/* IE */
-ms-transform: rotate(90deg);
/* Opera */
-o-transform: rotate(90deg);

}


h2 {
text-align: center;
    font-family:helvetica;  
    font-size: 40px;
    color:black;
    position: absolute;
}

/* projects*/
.one {
    left: 200px;
    top: 200px;
}

/*assignments */
.two { 
    left: 200px;
    top: 150px;
}

/*reading */
.three {
    left: 500px;
    top: 150px;
}

/*sketches */
.ten {
    left: 500px;
    top: 200px;
  
}
 /*project page title*/
.five {
    left: 0px;
    top: 0px;
 }
 
/*project details paragraphs*/
p {
  width:500px;
  display:inline-block;
  margin:0 auto;
  position:relative;
  vertical-align: top;
}

.vertical-center {
    position: absolute;
    top: 60%;
    left: 50%;
    height: 30%;
    width: 90%;
    margin: -9% 0 0 -40%;
}
/*Projects title page*/
#project-title {
    position: absolute;
    top:200px;
    left:700px;
    font-size: 100px;
}
/*assignments title page*/
#project-title2 {
    position: absolute;
    top:200px;
    left:700px;
    font-size: 100px;
}
/*reading title page*/
#project-title3 {
    position: absolute;
    top:200px;
    left:700px;
    font-size: 100px;
}
/*sketches title page*/
#project-title4 {
    position: absolute;
    top:200px;
    left:700px;
    font-size: 100px;
}





a:link    {
    color:black; 
    background-color:transparent; 
    text-decoration:none;
    
}

a:visited {color:black; background-color:transparent; text-decoration:none}
a:hover   {color:black; background-color:transparent; text-decoration:none}
a:active  {color:black; background-color:transparent; text-decoration:none}

 




html { 
  background: url(../img/cmyk.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: helvetica;
}


/* The below is used to center a div vertically and horizontally */
.centered-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
